//@mixin flex-box($direction: row, $alignItems: none, $justifyContent: none) {
//  display: flex;
//  align-items: $alignItems;
//
//  flex-direction: $direction;
//
//  justify-content: $justifyContent;
//}

.box_input_form {
  //@include flex-box(column, none, none);

  label {
    width: auto;
    text-transform: capitalize;
    font-weight: 500;
  }
}

.btn_wrapper {
  width: max-content;
  border: 0.05em solid black;
  .btn_primary {
    display: flex;
    flex-direction: row;
    align-items: center;
    span {
      margin-right: 0.5em;
    }
    cursor: pointer;
    background: black;
    color: white;
    fill: white;
    padding: 0.5em 2em;
    transform: translate(-3px, -3px);
    transition: 0.1s;
    border: none;
    &:active {
      color: rgb(184, 179, 179);

      transform: translate(0px, 0px);
    }
  }
}

