@import "login/login";
@import "src/components/forms/login-form";
@import "src/pages/home/home";
@import "src/components/inputs/input-box.scss";
@import "src/components/inputs/input-form.scss";

#root {
    width: 100%;
    height: 100em;
    max-width: 2500px;
    max-height: 1920px;
    margin: 0 auto;
    background-color: rgba(54,190,255,0.18);
}