#root {
    max-width: 2500px;
    max-height: 1920px;
    margin: 0px auto;
}
.App-header {
    background-color: #caced5;
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-size: calc(10px + 2vmin);
    color: white;
}
